branches:
  only: 
    - master
language: python
python:
  - "2.7"
  - "3.6"
  - "nightly" # points to the latest development branch e.g. 3.6-dev
# command to install dependencies
install:
    - pip install -r requirements.txt
    - pip install -r test-requirements.txt
# command to run tests
script: nosetests -s
